body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}

.available {
    color: green;
    font-weight: bold;
}
.not-available{
     color: red;
     font-weight: bold;
     }

.buttons {
    margin-top: 20px;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.button:hover {
    background-color: #45a049;
}

.go-home {
    background-color: #f44336;
}

.go-home:hover {
    background-color: #e53935;
}
