<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Parking System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="welcome-message">
        <h1>Welcome to Smart Parking System</h1>
        {% if matched_user %}
            <p>Welcome, {{ matched_user }}!</p>
        {% else %}
            <p>Welcome, please add or verify your details.</p>
        {% endif %}
    </div>
    <div class="buttons">
        <a href="{{ url_for('add_user') }}" class="button add-user">Add User</a>
        <a href="{{ url_for('verify_user') }}" class="button open-gate">Open Parking Gate</a>
    </div>
</body>
</html>
